{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div class="w-full min-h-full flex flex-col items-center py-6 px-4 bg-gray-100">
        <div class="w-full flex justify-between items-center my-4 border-b pb-5 gap-2 border-gray-400">
            <h3 class="text-2xl leading-6 font-medium text-gray-900 ml-16">個人資料</h3>
            <span class="font-bold p-2 bg-gray-400 rounded text-gray-100 mr-12">{{ session['user'] }}</span>
        </div>
        <form class="space-y-8 divide-y divide-gray-200 h-full px-16 flex justify-center items-center w-full"
              action="{{ url_for('save') }}"
              method="post"
              id="transaction_form">
            <div class="space-y-8 divide-y divide-gray-200 flex flex-col w-full">
                <div>
                    <div>
                        <h3 class="text-xl leading-6 font-medium text-gray-900">基本資料</h3>
                    </div>

                    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                        <div class="sm:col-span-4">
                            <label for="name" class="block text-sm font-medium text-gray-700"> 姓名 </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="text" name="name" id="name"
                                       class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300"
                                       value="{{ user['name'] }}">
                            </div>
                        </div>
                        <div class="sm:col-span-4">
                            <label for="birthday" class="block text-sm font-medium text-gray-700"> 生日 </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="date" name="birthday" id="birthday"
                                       class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300"
                                       value="{{ user['birthday'] }}">
                            </div>
                        </div>
                        <div class="sm:col-span-4">
                            <label for="sex" class="block text-sm font-medium text-gray-700"> 性別 </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <select id="sex"
                                        name="sex"
                                        class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300">
                                    <option value="男" {% if(user['sex']=='男')%}selected{% endif %}>男生</option>
                                    <option value="女" {% if(user['sex']=='女')%}selected{% endif %}>女生</option>
                                </select>
                            </div>
                        </div>
                        <div class="sm:col-span-4">
                            <label for="address" class="block text-sm font-medium text-gray-700"> 地址 </label>
                            <div class="mt-1 flex rounded-md shadow-sm">
                                <input type="text" name="address" id="address"
                                       class="flex-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300"
                                       value="{{ user['address'] }}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <div class="flex justify-end">
                        <button type="submit"
                                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            儲存
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}